<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/8c02bb5e5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="prestoNonDisponibile">
        <div class="title">
            <h2>Presto non disponibile</h2>
        </div>
        <div class="imgNonDisponibile">
            <ol>
                <li class="cardOmori">
                    <div class="icona">
                        <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                    </div>
                    <div>
                        <p class="titleCard">OMORI</p>
                    </div>
                    <div class="iconaPad">
                        <img src="assets/controller.svg" alt="">
                    </div>
                </li>

                <li class="cardOlija">
                    <div class="icona">
                        <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                    </div>
                    <div>
                        <p class="titleCard">OLIJA</p>
                    </div>
                    <div class="iconaPad">
                        <img src="assets/controller.svg" alt="">
                    </div>
                </li>

                <li class="cardRoad">
                    <div class="icona">
                        <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                    </div>
                    <div>
                        <p class="titleCard">Road 96</p>
                    </div>
                    <div class="iconaPad">
                        <img src="assets/controller.svg" alt="">
                    </div>
                </li>

                <li class="cardMatch">
                    <div class="icona">
                        <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                    </div>
                    <div>
                        <p class="titleCard">Matchpoint - Tennis Championships</p>
                    </div>
                    <div class="iconaPad">
                        <img src="assets/controller.svg" alt="">
                    </div>
                </li>

                <li class="cardResp">
                    <div class="icona">
                        <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                    </div>
                    <div>
                        <p class="titleCard">DJMAX RESPECT V</p>
                    </div>
                    <div class="iconaPad">
                        <img src="assets/controller.svg" alt="">
                    </div>
                </li>

                <li class="cardEmpire">
                    <div class="icona">
                        <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                    </div>
                    <div>
                        <p class="titleCard">Empire of Sin</p>
                    </div>
                    <div class="iconaPad">
                        <img src="assets/controller.svg" alt="">
                    </div>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>