.lista-generi {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
  flex-wrap: wrap;
}
.genere {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 96px;
  width: 100%;
  text-decoration: none;
  justify-content: space-between;
}

.img-genere {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.singolo-genere {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
#indie,
#intuitivo,
#sparatutto {
  background-color: #008746;
}
#azione,
#picchiaduro,
#strategia {
  background-color: #008572;
}

#simulatori,
#rpg {
  background-color: #007c8f;
}
