.lista-generi {
  display: flex;
  gap: 27px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.etichetta-generi {
  font-size: 25px;
  margin-bottom: 10px;
}
.genere {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 96px;
  width: 11%;
  text-decoration: none;
  justify-content: space-between;
}

.img-genere {
  /* display: flex; */
  justify-content: flex-end;
  align-items: flex-start;
}
.img-genere svg {
  float: right;
}

.singolo-genere {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.genere:hover {
  filter: brightness(1.3);
}
#indie,
#intuitivo,
#sparatutto {
  background-color: #008746;
}
#azione,
#picchiaduro,
#strategia {
  background-color: #008572;
}

#simulatori,
#rpg {
  background-color: #007c8f;
}
