#buttonAvatar {
    border: none;
    background-color: transparent;
    margin: 0 auto;
}

.avatar {
    background-color: grey;
    border-radius: 30px;
}

.avatar:hover {
    background-color: rgb(150, 150, 150);

}