<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gameDescription</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="game_description">
        <div class="game_description_image"><img src="fortnite.png" alt=""></div>
        <div class="game_description_text">La Giungla ti aspetta nel Capitolo 4 - Stagione 3 della Battaglia reale di
            Fortnite. Il centro dell'isola è crollato, rivelando una vasta giungla con antichi segreti tutti da
            scoprire. Sali fra le fronde degli alberi, cavalca i Raptor e mimetizzati scivolando nel fango ad alta
            velocità. Rileva i nemici dalla cima degli alberi con il "DMR termico", scivola sui rampicanti mentre spari
            con il "fucile Frittella" o trasforma gli avversari in spettatori con il "Cannone di Cybertron".
            <div class="more_details"></div>
        </div>
        <div class="game_description_credits">
            <div class="game_description_credit">
                <div class="credit_title"></div>
                <div class="credit_description"></div>
            </div>
            <div class="game_description_credit">
                <div class="credit_title"></div>
                <div class="credit_description"></div>
            </div>
            <div class="game_description_credit">
                <div class="credit_title"></div>
                <div class="credit_description"></div>
            </div>
        </div>
    </div>

</body>

</html>