<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <nav class="navbar">
            <div>
                <button class="logoxbox">
                    <img src="logoxbox.png" alt="logo xbox">
                </button>
                <div class="cloud">
                    <a href="" class="gamingbeta">
                        <h1>CLOUD GAMING <span class="beta"> BETA</span></h1>
                    </a>
                </div>
            </div>
        </nav>
    </body>
</html>