.navbar div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}   
.gamingbeta{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.gamingbeta:visited{
    color: unset;
}
.gamingbeta:hover{
    background-color:  grey;
}
.beta{
    background-color: white;
    color: grey;
    font-size: 11px;
    padding: 5px;
}
.logoxbox img{
    padding: 0px;
    margin:0px;
    width: 40px;
    height: 40px;
}
 .logoxbox:hover{
    background-color: grey;
    border-radius: 50%;
}
.logoxbox{
    background-color: inherit;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}
.navbar{
    padding-left: 15px;
    background-color: rgba(10, 10, 10, 0);
}
.gamingbeta h1{
    font-size: 14px;
}