div .conteiner1 {
  display: flex;
  flex-direction: column;
}
div .conteiner1 .container-first-section .top_section_content {
  z-index: 9999;
  left: 0;
  right: 0;
  background-image: url(../img/wpBlur.png);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 4%;
}
div .conteiner1 .container-first-section .top_section_content .nav_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
}
div
  .conteiner1
  .container-first-section
  .top_section_content
  .nav_container
  .navbar_right {
  display: flex;
  gap: 10px;
}
div .conteiner1 .cloud-container {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #1a1b1e;
  padding-left: 4%;
}
div .conteiner1 .cloud-container .intestazione-sezione-cloud {
  display: flex;
  justify-content: space-between;
}
div
  .conteiner1
  .cloud-container
  .intestazione-sezione-cloud
  .titolo-sezione-cloud {
  font-size: 25px;
}
div .container2 {
  display: flex;
  flex-direction: column;
}
div .container2 .containerGreen {
  background-image: linear-gradient(#143929, #1a1b1e);
  padding-left: 4%;
}
div .container2 .containerGreen .logo-gamepass {
  display: flex;
  justify-content: center;
}
div
  .container2
  .containerGreen
  .aggiunti-recente-container
  .intestazione-sezione-recenti {
  display: flex;
  justify-content: space-between;
}
div
  .container2
  .containerGreen
  .aggiunti-recente-container
  .intestazione-sezione-recenti
  .titolo-sezione-recenti {
  font-size: 25px;
}
div .container2 .containerBlack {
  background-color: #1a1b1e;
  padding-left: 4%;
}
div
  .container2
  .containerBlack
  .prestoNonDisponibile
  .titolo-sezione-nondisponibile {
  font-size: 25px;
}
div .container2 .containerBlack .generi .lista-generi {
  padding-right: 4%;
}
div .container2 .containerBlack .tuttiGiochi .intestazione-sezione-giochi {
  display: flex;
  justify-content: space-between;
}
div
  .container2
  .containerBlack
  .tuttiGiochi
  .intestazione-sezione-giochi
  .titolo-sezione-giochi {
  font-size: 25px;
}

@media screen and (min-width: 1980px) {
  .tuttiGiochi .allGames {
    grid-template-columns: repeat(11, 160px);
    grid-template-rows: repeat(3, 160px);
    gap: 5px;
  }
  .generi .lista-generi .genere {
    width: 11%;
  }
}
@media screen and (max-width: 1365px) {
  .tuttiGiochi .allGames {
    grid-template-columns: repeat(8, 160px);
    grid-template-rows: repeat(3, 160px);
    gap: 5px;
  }
  .generi .lista-generi .genere {
    width: 23%;
  }
}
@media screen and (max-width: 768px) {
  .tuttiGiochi .allGames {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(6, 160px);
    gap: 1rem;
    padding-left: 20px;
  }
  .generi .lista-generi .genere {
    width: 22%;
  }
}
@media screen and (max-width: 480px) {
  .navbar_right .button_accedi {
    display: none;
  }
  .generi .lista-generi .genere {
    width: 28%;
  }
  .tuttiGiochi {
    margin: 0;
  }
  .tuttiGiochi .allGames {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(8, 160px);
    gap: 15px;
    padding-left: 0;
  }
}

/*# sourceMappingURL=homepage.css.map */
