<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardPrincipale</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main_carousel">
        <div class="main_card" id="main_card_1">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
        <div class="main_card" id="main_card_2">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
        <div class="main_card" id="main_card_3">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
        <div class="main_card" id="main_card_4">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
        <div class="main_card" id="main_card_5">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
        <div class="main_card" id="main_card_6">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
        <div class="main_card" id="main_card_7">

            <div class="main_card_desc">
                <div class="main_card_desc_gpIcon"><img src="gpIconFinal.svg" alt=""></div>
                <div class="main_card_desc_title">Titolo Generico</div>
                <div class="main_card_desc_secTitle">Sottotitolo molto generico</div>
                <div class="main_card_desc_controller"><img src="controller.svg" alt=""></div>
            </div>
        </div>
    </div>

</body>

</html>