:root {
  --text-color: #fff;
  --size-factor: 1.5;
  --img-url: url(#);
}

html,
body {
  margin: 0 auto;
}

.main_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(5, 151, 61);
  background-image: var(--img-url);
  background-position: center;
  background-size: cover;
  width: 40vw;
  min-width: 310px;
  max-width: 550px;
  height: 310px;
  border-radius: 5px;
}

.main_card .main_card_desc {
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 16px 0px 0px 16px;
  display: flex;
  flex-flow: column;
  
}
.main_card .main_card_desc .main_card_desc_gpIcon {
  height: calc(37px * var(--size-factor));
  width: calc(17px * var(--size-factor));
  margin-bottom: -10px;
}
.main_card .main_card_desc .main_card_desc_gpIcon img {
  height: calc(37px * var(--size-factor));
  width: calc(17px * var(--size-factor));
}
.main_card .main_card_desc .main_card_desc_title {
  font-size: 26px;
  margin: 0px 16px 6px 0px;
}
.main_card .main_card_desc .main_card_desc_secTitle {
  font-size: 14px;
  margin: 0px 56px 16px 0px;
}
.main_card .main_card_desc .main_card_desc_controller {
  align-self: flex-end;
  padding: 8px;
  background-color: rgba(10, 10, 10, 0.8);
  border-radius: 4px;
  padding-bottom: 4px;
  flex: 1;
  margin-top: -28px;
}
.main_card .main_card_desc .main_card_desc_controller img {
  width: 16px;
  height: 16px;
}
