:root {
  --text-color: #fff;
  --size-factor: 1.5;
}

html,
body {
  margin: 0;
}
.main_carousel {
  display: flex;
  gap: 10px;
  flex-flow: row nowrap;
  overflow-x: scroll;
}

.main_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(5, 151, 61);
  background-position: center;
  background-size: cover;
  min-width: 40vw;
  width: 40vw;
  max-width: 400px;
  height: 410px;
  border-radius: 5px;
  cursor: pointer;
}

.main_card:hover {
  filter: brightness(1.3);
}

.main_card .main_card_desc {
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 16px 0px 0px 16px;
  display: flex;
  flex-flow: column;
}
.main_card .main_card_desc .main_card_desc_gpIcon {
  height: calc(37px * var(--size-factor));
  width: calc(17px * var(--size-factor));
  margin-bottom: -10px;
}
.main_card .main_card_desc .main_card_desc_gpIcon img {
  height: calc(37px * var(--size-factor));
  width: calc(17px * var(--size-factor));
}
.main_card .main_card_desc .main_card_desc_title {
  font-size: 26px;
  margin: 0px 16px 6px 0px;
}
.main_card .main_card_desc .main_card_desc_secTitle {
  font-size: 14px;
  margin: 0px 56px 16px 0px;
}
.main_card .main_card_desc .main_card_desc_controller {
  align-self: flex-end;
  padding: 8px;
  background-color: rgba(10, 10, 10, 0.8);
  border-radius: 4px;
  padding-bottom: 4px;
  flex: 1;
  margin-top: -28px;
}
.main_card .main_card_desc .main_card_desc_controller img {
  width: 16px;
  height: 16px;
}
#main_card_1 {
  background-image: url(img/commandos3.png);
}
#main_card_2 {
  background-image: url(img/deadspace.png);
}
#main_card_3 {
  background-image: url(img/dirt5.png);
}
#main_card_4 {
  background-image: url(img/gioco2.png);
}
#main_card_5 {
  background-image: url(img/hitmantrilogy.png);
}
#main_card_6 {
  background-image: url(img/mh.png);
}
#main_card_7 {
  background-image: url(img/persona.png);
}
