<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/8c02bb5e5e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="prestoNonDisponibile">
        <div class="title">
            <h2>Presto non disponibile</h2>
        </div>
        <div class="imgNonDisponibile">
            <a class="cards" href="#">
                <ol>
                    <!-- card Omori -->
                    <li class="cardOmori">
                        <div class="iconaOmori">
                            <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                        </div>
                        <div class="titleCardOmori"> 
                            <p>OMORI</p>
                        </div>
                        <div class="iconaPadOmori">
                            <img src="assets/controller.svg" alt="">
                        </div>
                    </li>

                    <!-- card Olija -->
                    <li class="cardOlija">
                        <div class="iconaOlija">
                            <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                        </div>
                        <div class="titleCardOlija">
                            <p>OLIJA</p>
                        </div>
                        <div class="iconaPadOlija">
                            <img src="assets/controller.svg" alt="">
                        </div>
                    </li>

                    <!-- card Road -->
                    <li class="cardRoad">
                        <div class="iconaRoad">
                            <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                        </div>
                        <div class="titleCardRoad">
                            <p>Road 96</p>
                        </div>
                        <div class="iconaPadRoad">
                            <img src="assets/controller.svg" alt="">
                        </div>
                    </li>

                    <!-- card Match -->
                    <li class="cardMatch">
                        <div class="iconaMatch">
                            <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                        </div>
                        <div class="titleCardMatch">
                            <p>Matchpoint - Tennis Championships</p>
                        </div>
                        <div class="iconaPadMatch">
                            <img src="assets/controller.svg" alt="">
                        </div>
                    </li>

                    <!-- card Resp -->
                    <li class="cardResp">
                        <div class="iconaResp">
                            <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                        </div>
                        <div class="titleCardResp">
                            <p>DJMAX RESPECT V</p>
                        </div>
                        <div class="iconaPadResp">
                            <img src="assets/controller.svg" alt="">
                        </div>
                    </li>

                    <!-- card Empire -->
                    <li class="cardEmpire">
                        <div class="iconaEmpire">
                            <img src="assets/gpIconFinal.svg" alt="imgGamepass">
                        </div>
                        <div class="titleCardEmpire">
                            <p>Empire of Sin</p>
                        </div>
                        <div class="iconaPadEmpire">
                            <img src="assets/controller.svg" alt="">
                        </div>
                    </li>
                </ol>
            </a>
        </div>
    </div>
</body>
</html>