<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="footer">
        <div class="footer_sections">
            <div class="footer_section">
                <div class="footer_section_heading">Esplora</div>
                <a href="" class="footer_section_link">Xbox console</a>
                <a href="" class="footer_section_link">Giochi per Xbox</a>
                <a href="" class="footer_section_link">Xbox Game Pass</a>
                <a href="" class="footer_section_link">Accessori per Xbox</a>
            </div>
            <div class="footer_section">
                <div class="footer_section_heading">Risorse</div>
                <a href="" class="footer_section_link">Supporto Xbox</a>
                <a href="" class="footer_section_link">Commenti e suggerimenti</a>
                <a href="" class="footer_section_link">Standard della community</a>
                <a href="" class="footer_section_link">Avviso Fotosensibilita</a>
            </div>
            <div class="footer_section">
                <div class="footer_section_heading">Microsoft Store</div>
                <a href="" class="footer_section_link">Account Microsoft</a>
                <a href="" class="footer_section_link">Supporto Microsoft Store</a>
                <a href="" class="footer_section_link">Resi</a>
                <a href="" class="footer_section_link">Tracciamento ordini</a>
            </div>
            <div class="footer_section">
                <div class="footer_section_heading">Per sviluppatori</div>
                <a href="" class="footer_section_link">Giochi</a>
                <a href="" class="footer_section_link">ID@Xbox</a>
                <a href="" class="footer_section_link">Windows</a>
                <a href="" class="footer_section_link">Creators Program</a>
            </div>
        </div>
        <div class="footer_base">
            <div class="footer_base_top">
                <a href="" class="footer_base_link">Italiano (Italia)</a>
                <a href="" class="footer_base_link">Scelte per la privacy in California</a>
            </div>
            <div class="footer_base_bottom">
                <a href="" class="footer_base_link">Riferimenti societari</a>
                <a href="" class="footer_base_link">Contatta Microsoft</a>
                <a href="" class="footer_base_link">Privacy e cookie</a>
                <a href="" class="footer_base_link">Condizioni per l'utilizzo</a>
                <a href="" class="footer_base_link">Marchi</a>
                <a href="" class="footer_base_link">Comunicazioni di terze parti</a>
                <a href="" class="footer_base_link">Informaizoni sulle inserzioni</a>
                <a href="" class="footer_base_link">EU Compliance DoCs</a>
                <a href="" class="footer_base_link">Accessibilita</a>
                <a href="" class="footer_base_link">© Microsoft 2023</a>
            </div>
        </div>
    </div>

</body>

</html>