<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardVerticale</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="carousel_container">
        <a class="vertical_card_container" href="./game.html">
            <div class="vertical_card" id="vertical_card_recente_1">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Dordogne</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_2">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Runefighter</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_3">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Stacking</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_4">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Amnesia: the bunker</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_5">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Hypnospace OUTLAW</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_6">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Car mechanic simulator</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_7">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Slayers</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_8">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">The big con</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_9">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Farworld Pioneers</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_recente_10">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Chicory</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
    </div>

</body>

</html>