@import url('common.css');

.tuttiGiochi {
    background-color: #1a1b1e;
    width: 100vw;
    padding: 10px;
    padding-left: 40px;
    height: 100%;
}

.title {
    color: white;
    font-size: 25px;
    padding: 0px 20px;
}

.allGames {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 1rem;
}

.controller {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-end;
    text-align: end;
}
.controller > img {
    background-color: #0A0B09;
    padding: 5px;
    margin-bottom: -3px;
    border-radius: 5px;
}

.daysToDie {
    background-image: url(assets/7DaysToDie.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 146px;
    grid-template-rows: 148px 15px;
    width: 150px;
    height: 150px;
}
.titleDays {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.daysToDie:hover .controller {
    display: none;
}
.daysToDie:hover .titleDays {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}

.plagueTale {
    background-image: url(assets/APlagueTale.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 144px;
    grid-template-rows: 149px 15px;
}
.titleP {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.plagueTale:hover .controller {
    display: none;
}
.plagueTale:hover .titleP {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.ageOfEmpires {
    background-image: url(assets/AgeOfEmpires.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleAge {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.ageOfEmpires:hover .controller {
    display: none;
}
.ageOfEmpires:hover .titleAge {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}

.amnesia {
    background-image: url(assets/Amnesia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleA {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.amnesia:hover .controller {
    display: none;
}
.amnesia:hover .titleA {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.amnesiaReb {
    background-image: url(assets/AmnesiaRebirth.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleR {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.amnesiaReb:hover .controller {
    display: none;
}
.amnesiaReb:hover .titleR {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.amnesiaT {
    background-image: url(assets/TheBunker.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleT {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.amnesiaT:hover .controller {
    display: none;
}
.amnesiaT:hover .titleT {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.amongUs {
    background-image: url(assets/AmongUs.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleAmong {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.amongUs:hover .controller {
    display: none;
}
.amongUs:hover .titleAmong {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.anvil {
    background-image: url(assets/Anvil.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleAnvil {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.anvil:hover .controller {
    display: none;
}
.anvil:hover .titleAnvil {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.aragami2 {
    background-image: url(assets/Aragami2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleAragami {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.aragami2:hover .controller {
    display: none;
}
.aragami2:hover .titleAragami {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.ark {
    background-image: url(assets/Ark.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleArk {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.ark:hover .controller {
    display: none;
}
.ark:hover .titleArk {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.asDaskFalls {
    background-image: url(assets/AsDuskFalls.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleAs {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.asDaskFalls:hover .controller {
    display: none;
}
.asDaskFalls:hover .titleAs {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.acOdissey {
    background-image: url(assets/A.C.Odyssey.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleOd {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.acOdissey:hover .controller {
    display: none;
}
.acOdissey:hover .titleOd {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.acOrigins {
    background-image: url(assets/A.C.Origins.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px 15px;
    width: 150px;
    height: 150px;
}
.titleOr {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.acOrigins:hover .controller {
    display: none;
}
.acOrigins:hover .titleOr {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.astroneer {
    background-image: url(assets/Astroneer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px 15px;
    width: 150px;
    height: 150px;
}
.titleAst {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.astroneer:hover .controller {
    display: none;
}
.astroneer:hover .titleAst {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.atomicHeart {
    background-image: url(assets/AtomicHeart.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleAtomic {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.atomicHeart:hover .controller {
    display: none;
}
.atomicHeart:hover .titleAtomic {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.backBlood {
    background-image: url(assets/Back4Blood.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 148px;
    grid-template-rows: 150px 15px;
    width: 150px;
    height: 150px;
}
.titleBack {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.backBlood:hover .controller {
    display: none;
}
.backBlood:hover .titleBack {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.banjoKazNnb {
    background-image: url(assets/BanjoKazooieNnb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleBanjoN {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.banjoKazNnb:hover .controller {
    display: none;
}
.banjoKazNnb:hover .titleBanjoN {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.banjoKaz {
    background-image: url(assets/BanjoKazooie.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleBanjo {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.banjoKaz:hover .controller {
    display: none;
}
.banjoKaz:hover .titleBanjo {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.banjoTo {
    background-image: url(assets/BanjoTooie.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleBanjoT {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.banjoTo:hover .controller {
    display: none;
}
.banjoTo:hover .titleBanjoT {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.batman {
    background-image: url(assets/Batman.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px 15px;
    width: 150px;
    height: 150px;
}
.titleBatman {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.batman:hover .controller {
    display: none;
}
.batman:hover .titleBatman {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.battlefield4 {
    background-image: url(assets/BattleField4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 149px 15px;
    width: 150px;
    height: 150px;
}
.titleBat4 {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.battlefield4:hover .controller {
    display: none;
}
.battlefield4:hover .titleBat4 {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.battlefield1 {
    background-image: url(assets/Battlefield1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 151px 15px;
    width: 150px;
    height: 150px;
}
.titleBat1 {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.battlefield1:hover .controller {
    display: none;
}
.battlefield1:hover .titleBat1 {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.battlefield2042 {
    background-image: url(assets/Battlefield2042.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 149px 15px;
    width: 150px;
    height: 150px;
}
.titleBat42 {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.battlefield2042:hover .controller {
    display: none;
}
.battlefield2042:hover .titleBat42 {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}


.battlefieldV {
    background-image: url(assets/Battlefield5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px 15px;
    width: 150px;
    height: 150px;
}
.titleBatV {
    grid-area: 2 / 1 / 3 / 2;
    visibility: hidden;
}
.battlefieldV:hover .controller {
    display: none;
}
.battlefieldV:hover .titleBatV {
    align-self: flex-end;
    margin-bottom: +16px;
    visibility: visible;
    font-size: 17px;
    color: white;
    background-color: #0000008c;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}
