<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="tuttiGiochi">
      <div class="title">
        <h2>Tutti i giochi</h2>
      </div>
      <div class="allGames">
        <!-- Days to Die -->
        <a href="#" class="cardContainer">
          <div class="card" id="card1">
            <div class="elementCard">
              <div class="titleCard"><p>7 Days to Die</p></div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--a Plague tale  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card2">
            <div class="elementCard">
              <div class="titleCard"><p>A Plague Tale: Requiem</p></div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Age of empires  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card3">
            <div class="elementCard">
              <div class="titleCard">
                <p>Age of Empires II: Definition Edition</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Amnesia Collection  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card4">
            <div class="elementCard">
              <div class="titleCard"><p>Amnesia: Collection</p></div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Amnesia Rebirth  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card5">
            <div class="elementCard">
              <div class="titleCard"><p>Amnesia: Rebirth</p></div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Amnesia The Bunker  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card6">
            <div class="elementCard">
              <div class="titleCard"><p>Amnesia: The Bunker</p></div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Among Us  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card7">
            <div class="elementCard">
              <div class="titleCard"><p>Among Us</p></div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Anvil  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card8">
            <div class="elementCard">
              <div class="titleCard">
                <p>ANVIL: Vault Breaker (Game Preview)</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Aragami2  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card9">
            <div class="elementCard">
              <div class="titleCard">
                <p>--Aragami 2</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Ark  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card10">
            <div class="elementCard">
              <div class="titleCard">
                <p>ARK: Ultimate Survivor Edition</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--As Dusk Falls  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card11">
            <div class="elementCard">
              <div class="titleCard">
                <p>Ask Dusk Falls</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--A.C. Odissey  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card12">
            <div class="elementCard">
              <div class="titleCard">
                <p>Assassin's Creed Odissey</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--A.C. Origins  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card13">
            <div class="elementCard">
              <div class="titleCard">
                <p>Assassin's Creed Origin</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Astroneer  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card14">
            <div class="elementCard">
              <div class="titleCard">
                <p>ASTRONEER</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Atomic heart  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card15">
            <div class="elementCard">
              <div class="titleCard">
                <p>Atomic Heart</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Banjo Kazooie Nnb  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card16">
            <div class="elementCard">
              <div class="titleCard">
                <p>Banjo Kazooie Nnb</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Banjo Kazooie  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card17">
            <div class="elementCard">
              <div class="titleCard">
                <p>Banjo-Kazooie</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Banjo Tooie -->
        <a href="#" class="cardContainer">
          <div class="card" id="card18">
            <div class="elementCard">
              <div class="titleCard">
                <p>Banjo-Tooie</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Batman-->
        <a href="#" class="cardContainer">
          <div class="card" id="card19">
            <div class="elementCard">
              <div class="titleCard">
                <p>Batman: Arkham Knight</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Battlefield 4  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card20">
            <div class="elementCard">
              <div class="titleCard">
                <p>Battlefield 4</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Battlefield 1  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card21">
            <div class="elementCard">
              <div class="titleCard">
                <p>Battlefield 1 Revolution</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Battlefield 2042  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card22">
            <div class="elementCard">
              <div class="titleCard">
                <p>Battlefield 2042 Xbox Series X|S</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Battlefield V  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card23">
            <div class="elementCard">
              <div class="titleCard">
                <p>Battlefield V</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
        <!--Back 4 Blood  -->
        <a href="#" class="cardContainer">
          <div class="card" id="card24">
            <div class="elementCard">
              <div class="titleCard">
                <p>Back 4 Blood</p>
              </div>
              <div class="controller">
                <img src="assets/controller.svg" alt="controller" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
