<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="tuttiGiochi">
        <div class="title">
            <h2>Tutti i giochi</h2>
        </div>
        <div class="allGames">

            <!-- Days to Die -->
            <a href="#" class="daysToDie">
                <div class="titleDays">
                    <p>7 Days to Die</p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Plague Tale -->
            <a href="#" class="plagueTale">
                <div class="titleP">
                    <p>A Plague Tale: Requiem</p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>
            
            <!-- Age of Empires -->
            <a href="#" class="ageOfEmpires">
                <div class="titleAge">
                    <p>
                        Age of Empires II: Definitive Edition
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Amnesia -->
            <a href="#" class="amnesia">
                <div class="titleA">
                    <p>
                        Amnesia: Collection
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Amnesia Reb -->
            <a href="#" class="amnesiaReb">
                <div class="titleR">
                    <p>
                        Amnesia: Rebirth
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- AmnesiaT.B -->
            <a href="#" class="amnesiaT">
                <div class="titleT">
                    Amnesia: The Bunker
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- among us -->
            <a href="#" class="amongUs">
                <div class="titleAmong">
                    <p>
                        Among Us
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Anvil -->
            <a href="#" class="anvil">
                <div class="titleAnvil">
                    <p>
                        ANVIL: Vault Breaker (Game Preview)
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Aragami2 -->
            <a href="#" class="aragami2">
                <div class="titleAragami">
                    <p>
                        Aragami 2
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Ark -->
            <a href="#" class="ark">
                <div class="titleArk">
                    <p>
                        ARK: Ultimate Survivor Edition
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- As Dask Falls -->
            <a href="#" class="asDaskFalls">
                <div class="titleAs">
                    <p>
                        As Dask Falls
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- A.C. Odissey -->
            <a href="#" class="acOdissey">
                <div class="titleOd">
                    <p>
                        Assassin's Creed Odissey
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- A.C. Origins -->
            <a href="#" class="acOrigins">
                <div class="titleOr">
                    <p>
                        Assassin's Creed Origins
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Astroner -->
            <a href="#" class="astroneer">
                <div class="titleAst">
                    <p>
                        ASTRONEER
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Atomic Heart -->
            <a href="#" class="atomicHeart">
                <div class="titleAtomic">
                    <p>
                        Atomi Heart
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Back 4 Blood -->
            <a href="#" class="backBlood">
                <div class="titleBack">
                    <p>
                        Back 4 Blood
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Banjo Kaz Nnb -->
            <a href="#" class="banjoKazNnb">
                <div class="titleBanjoN">
                    <p>
                        Banjo Kazooie NnB
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Banjo Kaz -->
            <a href="#" class="banjoKaz">
                <div class="titleBanjo">
                    <p>
                        Banko-Kazooie
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Banjo To -->
            <a href="#" class="banjoTo">
                <div class="titleBanjoT">
                    <p>
                        Banjo-Tooie
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- Batman -->
            <a href="#" class="batman">
                <div class="titleBatman">
                    <p>
                        Batman: Arkam Knight
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- BattleField4 -->
            <a href="#" class="battlefield4">
                <div class="titleBat4">
                    <p>
                        Battlefield 4
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- BattleField1 -->
            <a href="#" class="battlefield1">
                <div class="titleBat1">
                    <p>
                        BattleField 1 Revolution
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- BattleField2042 -->
            <a href="#" class="battlefield2042">
                <div class="titleBat42">
                    <p>
                        Battlefield 2042 Xbox Series X|S
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>

            <!-- BattleField5 -->
            <a href="#" class="battlefieldV">
                <div class="titleBatV">
                    <p>
                        Battlefield V
                    </p>
                </div>
                <div class="controller">
                    <img src="assets/controller.svg" alt="controller">
                </div>
            </a>
        </div>
    </div>
</body>
</html>