<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardPrincipale</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main_card">

        <div class="main_card_text">
            <div class="main_card_text_gpIcon"></div>
            <div class="main_card_text_title">Dead Space</div>
            <div class="main_card_text_secTitle">L'incubo ha inizio</div>
        </div>
    </div>

</body>

</html>