:root {
  --primary-color: #008746;
  --hover-color: #04b358;
  --text-color: #fff;
}

html, body{
    margin: 0;
}

.button_accedi {
  background-color: var(--primary-color);
  color: var(--text-color);
  min-width: 248px;
  text-align: center;
  border: 2px solid #00000000;
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.button_accedi:hover {
  background-color: var(--hover-color);
}
