:root {
  --text-color: #fff;
}

html,
body {
  margin: 0 auto;
}

.main_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(5, 151, 61);
  background-image: url(#);
  background-position: center;
  background-size: cover;
  width: 40vw;
  min-width: 330px;
  max-width: 600px;
  height: 330px;
  border-radius: 4px;
}

.main_card .main_card_text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 16px 0px 0px 16px;
  
}
.main_card .main_card_text .main_card_text_title {
    font-size: 26px;
    margin: 0px 16px 6px 0px;
}
.main_card .main_card_text .main_card_text_secTitle {
    font-size: 14px;
    margin: 0px 56px 16px 0px;
}
