<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
</head>
<body>
    <div class="headerGioco">

        <div class="containerTitleAndSubtitleAndButtons">
            <div class="titleAndSubtitle">
                <h1 class="title">Fortnite</h1>
                <div class="subtitle">
                    <ul>
                        <li class="listStyleNone">Epic Games Inc.</li>
                        <li>Azione e avventura</li>
                        <li>Altro</li>
                    </ul>
                </div>
            </div>
    
            <div class="details">
                <div class="padAndPlay">
                    <div class="pad">
                        <img src="assets/controller.svg" alt="padImg">
                        <div class="textPad">Gioca con controller</div>
                    </div>
                    <div class="play">
                        <img src="assets/gui-gesture-one-finger-touch-svgrepo-com.svg" alt="headImg">
                        <div class="textPlay">Riproduci con il tocco</div>
                    </div>
                </div>
    
                
                <div class="iconTextModule">
                    <img src="assets/world-symbol-svgrepo-com.svg" alt="worldImg">
                    <div class="textWorld">13 lingue supportate</div>
                </div>
                
            </div>

            <div class="divSpace"></div>


            <div class="buttons">

                <div class="accedi">Accedi</div>
    
                <div class="buttonsSecondary">
                    <button type="button" class="share"><img src="assets/share-svgrepo-com (1).svg" alt="shareImg"></button>
                    <a href="#" class="cart"><img src="assets/cart-4-svgrepo-com (1).svg" alt="cartImg"></a>
                </div>
            </div>
        </div>

        <div class="containerSpaceAndModule">

            <div class="containerModule">
                <img src="assets/12Pegi.png" alt="12PegiImg">
    
                <div class="linkAndDescription">
                    <a href="#" class="pegi">PEGI 12 <img src="assets/share-03-svgrepo-com.svg" alt="shareImg"></a>
                    <div class="violenza">Violenza</div>
                    <div class="divisor"></div>
                    <div class="interazione">Interazione tra utenti, Acquisti in-game</div>
                    <div class="divisor"></div>
                    <div class="tariffe">* Potrebbero essere applicate tariffe per Internet e provider di rete. 
                     Contiene acquisti in-app
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>