.contenitore-link-aggiuntivi{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.link-aggiuntivi{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link-aggiuntivi:hover{
    background-color:rgb(173, 169, 169) ;
    width: fit-content;
}
.link-aggiuntivi:visited{
    color: none;
}
