.button-funzionalita {
  width: 40%;
}
.funzionalita {
  border: 1px solid black;
  width: 160px;
  border-radius: 20px;
  height: 28px;
  padding-top: 2px;
  padding-bottom: 4px;
}
.lista-funzionalita {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 70px;
  text-align: center;
  align-items: center;
}
.scritta-funzionalita {
  padding-bottom: 25px;
  font-size: 20px;
}
