<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="common.css" />
    <title></title>
  </head>
  <body>
    <div>
      <div class="scritta-funzionalita">Funzionalità</div>
      <button class="button-funzionalita">
        <div class="lista-funzionalita">
          <div class="funzionalita">Co-op online(2-4)</div>
          <div class="funzionalita">Multiplayer online(2-100)</div>
          <div class="funzionalita">120 fps</div>
          <div class="funzionalita">Ottimizzato per Xbox Series X|S</div>
          <div class="funzionalita">Xbox One X avanzato</div>
          <div class="funzionalita">Xbox Live</div>
        </div>
      </button>
    </div>
  </body>
</html>
