<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" href="common.css">
    <title></title>
</head>
<body>
    <div>
        <div class="scritta-funzionalità">
            Funzionalità
        </div>
        <button class="button-funzionalità">
            <div class="lista-funzionalità"> 
                <div class="funzionalità">Co-op online(2-4)</div>
                <div class="funzionalità">Multiplayer online(2-100)</div>
                <div class="funzionalità">120 fps</div>
                <div class="funzionalità">Ottimizzato per Xbox Series X|S</div>
                <div class="funzionalità">Xbox One X avanzato</div>
                <div class="funzionalità">Xbox Live</div>
            </div>
        </button>
    </div>
</body>
</html>