<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardVerticale</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="carousel_container">
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_1">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Fortnite</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_2">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Assassins Creed Odyssey</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_3">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Battlefield</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_4">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Flight Simulator</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_5">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Forza Horizon 5</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_6">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Grounded</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_7">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Halo infinite</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_8">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Mortal kombat 11</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_9">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Raimbow six Siege</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
        <a class="vertical_card_container" href="#">
            <div class="vertical_card" id="vertical_card_cloud_10">
                <div class="vertical_card_desc">
                    <div class="vertical_card_desc_text">Sea of thieves</div>
                    <div class="vertical_card_desc_controller"><img src="controller.svg" alt=""></div>
                </div>
            </div>
        </a>
    </div>

</body>

</html>